$color:#62c8ca;
$colorF:#fff;
$border:rgba(98, 200, 202, 0.3);
$tabs:#bfbfbf;
img{
    display: block;
}
body{
    margin: 0;
    padding: 0;
}
div,span,a{
    box-sizing: border-box;
    font-size: .875rem;
    color: #424242;
}